                            
                        </div>                        
                        <div class="box-sections numbers-sections margin-bottom  hidden-xs hidden-sm ">
                                <div class="number number-left number-zero"></div>
                                <div class="number number-right number-1"></div>
                                <h4>
                                    Лучшие <span class="title-highlight">специалисты</span>
                                </h4>
                                <p>
                                    Quisque nec mi eu nibh aliquam elementum. Ut cursus nisl sit amet sapien dignissim at adipiscing lectus ornare lorem lorem dieus.
                                </p>
                        </div>

                        <div class="box-sections numbers-sections margin-bottom  hidden-xs hidden-sm">
                            <div class="number number-left number-zero"></div>
                            <div class="number number-right number-2"></div>
                            <h4>
                                Современное <span class="title-highlight">оборудование</span>
                            </h4>
                            <p>
                                Quisque nec mi eu nibh aliquam elementum. Ut cursus nisl sit amet sapien dignissim at adipiscing lectus ornare lorem lorem dieus.
                            </p>
                        </div>

                        <div class="box-sections numbers-sections margin-bottom  hidden-xs hidden-sm">
                            <div class="number number-left number-zero"></div>
                            <div class="number number-right number-3"></div>
                            <h4>
                                Бескровная <span class="title-highlight">хирургия</span>
                            </h4>
                            <p>
                                Quisque nec mi eu nibh aliquam elementum. Ut cursus nisl sit amet sapien dignissim at adipiscing lectus ornare lorem lorem dieus.
                            </p>
                        </div>

                        <div class="box-sections numbers-sections margin-bottom  last  hidden-xs hidden-sm">
                            <div class="number number-left number-zero"></div>
                            <div class="number number-right number-4"></div>
                            <h4>
                                Ведущие <span class="title-highlight">хирурги</span>
                            </h4>
                            <p>
                                Quisque nec mi eu nibh aliquam elementum. Ut cursus nisl sit amet sapien dignissim at adipiscing lectus ornare lorem lorem dieus.
                            </p>
                        </div>