<section id="service" class="home-section text-center bg-gray">

    <div class="heading-about">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="section-heading">
                <h2>Наши <span class="title-highlight">Услуги</span></h2>
                <i class="fa fa-2x fa-angle-down"></i>

                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                {% partial '_service-item' %}
                {% partial '_service-item2' %}
                {% partial '_service-item3' %}
                {% partial '_service-item4' %}
                {% partial '_service-item5' %}
                {% partial '_service-item6' %}
                {% partial '_service-item7' %}
            </div>
        </div>        
    </div>

</section>
