                <div class="span3 service_first text-center">
                    <div class="circle-services">
                        <div class="ch-item no-empty" style="background-image: url({{ 'assets/images/services/01.jpg' |theme }});">
                            <div class="ch-info">
                                <a href="service-detail.html">
                                    <img src="{{ 'assets/images/services/project_empty.png' |theme }}" alt="" width="175" height="175" />
                                </a>
                                 
                                <p class="related_project">
                                    <a href="service-detail.html">
                                        <img src="{{ 'assets/images/services/project.png' |theme }}" alt="project" />
                                    </a>
                                </p>

                                <p>
                                    <a href="services-detail.html">Услуги <br> <span class="title-highlight">дермато-косметолога</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>
                        <a href="services-detail.html">
                            Услуги <span class="title-highlight">дермато-косметолога</span>
                        </a>
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                </div>