        <!-- START PRIMARY -->

        <div id="primary" class="sidebar-no">
            <div class="container group">
                <div class="row">
                                <!-- START CONTENT -->
                    <div id="content-page" class="span12 content group">
                            <div class="page type-page status-publish  group">

                                <div id="2" class="slider slider-266 usquare">

                                    <div class="usquare_module_wrapper usquare_items_3">
                                        <div class="usquare_module_shade"></div>
                                        <div class="usquare_block">
                                            <img src="{{ 'assets/images/usquare/u01.jpg'|theme }}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                            <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                                <div class="usquare_square_text_wrapper">

                                                    <img src="{{ 'assets/images/usquare/arrow-dark.png'|theme }}" class="usquare_arrow" alt="arrow">

                                                    <div class="clear"></div>
                                                    <h2>Михаил Михайлов</h2>
                                                    <span>Отоларинголог / основатель клиники</span>

                                                    <div class="clear"></div>
                                                </div>
                                                <!-- usquare_square_wrapper -->
                                            </div>
                                            <!--div usquare_square -->
                                            <div class="usquare_block_extended" style="background-color: #fff">
                                                <a href="#" class="close">
                                                    <img src="{{ 'assets/images/usquare/close.png'|theme }}" alt="close"/>
                                                </a>
                                                <ul class="social_background"></ul>
                                                <div class="clear"></div>
                                                <!--span class="bold">info:</span-->
                                                <div class="usquare_about">
                                             Стаж работы - 39 лет, врач высшей категории.<br><br> 

Начинал работать еще во время учебы в Медицинском институте - мед. братом в 1-ой Детской клинической больнице г.Алматы, а с 1971 г. - врачом ординатором ЛОР-отделения этой больницы. <br><br>


<a href="#" title="">Подробнее</a>
                                                </div>
                                            </div>
                                            <!-- usquare_block_extended -->
                                        </div>

                                        <div class="usquare_block">
                                            <img src="{{ 'assets/images/usquare/u02.jpg'|theme }}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                            <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                                <div class="usquare_square_text_wrapper">
                                                    <img src="{{ 'assets/images/usquare/arrow-dark.png'|theme }}" class="usquare_arrow" alt="arrow">

                                                    <div class="clear"></div>
                                                    <h2>НАТАЛЬЯ ПЛАТОВА</h2> <span>Врач-Кардиолог</span>

                                                    <div class="clear"></div>
                                                </div>
                                                <!-- usquare_square_wrapper -->
                                            </div>
                                            <!--div usquare_square -->
                                            <div class="usquare_block_extended" style="background-color: #fff">
                                                <a href="#" class="close">
                                                    <img src="{{ 'assets/images/usquare/close.png'|theme }}" alt="close"/>
                                                </a>
                                                <ul class="social_background"></ul>
                                                <div class="clear"></div>
                                                <!--span class="bold">info:</span-->
                                                <div class="usquare_about">
                                                  Окончила АГМИ в 1976 году, стаж работы - 30 лет. <br><br>

Врач-кардиолог высшей квалификации, имеет пять специализаций - по общей терапии, кардиологии, ЭКГ-графии в Москве, Санкт-Петербурге, Алматы, последняя - в 2003 г. на кафедре РМАПО, г. Москва. <br><br>
<a href="#" title="">Подробнее</a>
                                                </div>
                                            </div>
                                            <!-- usquare_block_extended -->
                                        </div>
                                        <div class="usquare_block">
                                            <img src="{{ 'assets/images/usquare/u03.jpg'|theme }}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                            <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                                <div class="usquare_square_text_wrapper">
                                                    <img src="{{ 'assets/images/usquare/arrow-dark.png'|theme }}" class="usquare_arrow" alt="arrow">

                                                    <div class="clear"></div>
                                                    <h2>ЕКАТЕРИНА КРАВЧЕНКО</h2>
                                                    <span>Дермато-косметолог</span>

                                                    <div class="clear"></div>
                                                </div>
                                                <!-- usquare_square_wrapper -->
                                            </div>
                                            <!--div usquare_square -->
                                            <div class="usquare_block_extended" style="background-color: #fff">
                                                <a href="#" class="close"><img src="{{ 'assets/images/usquare/close.png'|theme }}" alt="close"/></a>
                                                <ul class="social_background"></ul>
                                                <div class="clear"></div>
                                                <!--span class="bold">info:</span-->
                                                <div class="usquare_about">
                                               Образование: Врач-оториноларинголог, первичная специализация по дермато-косметологии июль-октябрь 2013 год, АГИУВ, Алматы (кафедра на базе клиники "Арумед"). Прошла обучение по циклам: "Мезотерапия", "Плазмолифтинг", "Диспорт", "3D Мезонити", "Химические пилинги". <br><br><a href="#" title="">Подробнее</a>

                                                </div>
                                            </div>
                                            <!-- usquare_block_extended -->
                                        </div>
                                        <div class="usquare_block">
                                            <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                                <div class="usquare_square_text_wrapper" style="right: 0; text-align: right;">
                                                    <img src="{{ 'assets/images/usquare/arrow_r-dark.png'|theme }}" class="usquare_arrow" alt="arrow" style="float: right; padding: 0 0 5px;">

                                                    <div class="clear"></div>
                                                    <h2>ГУЛЬНУРА НУКЕНОВА</h2>
                                                    <span>Врач УЗИ кабинета</span>

                                                    <div class="clear"></div>
                                                </div>
                                                <!-- usquare_square_wrapper -->
                                            </div>
                                            <!--div usquare_square -->
                                            <img src="{{ 'assets/images/usquare/u04.jpg'|theme }}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                            <div class="usquare_block_extended" style="background-color: #fff">
                                                <a href="#" class="close">
                                                    <img src="{{ 'assets/images/usquare/close.png'|theme }}" alt="close"/>
                                                </a>
                                                <ul class="social_background"></ul>
                                                <div class="clear"></div>
                                                <!--span class="bold">info:</span-->
                                                <div class="usquare_about">
                                                  Кабинет УЗД оснащён аппаратом высокого класса производства фирм «Madison». Исследования проводятся врачом высшей категории со стажем работы по данной специальности свыше 23 лет. Проводимые виды исследования: органы брюшной полости, лёгкие, органы малого таза, акушерство, поверхностно расположенные органы, урология, педиатрия. <br><br><a href="#" title="">Подробнее</a>

                                                </div>
                                            </div>
                                            <!-- usquare_block_extended -->
                                        </div>
                                        <div class="usquare_block">
                                            <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                                <div class="usquare_square_text_wrapper" style="right: 0; text-align: right;">
                                                    <img src="{{ 'assets/images/usquare/arrow_r-dark.png'|theme }}" class="usquare_arrow" alt="arrow" style="float: right; padding: 0 0 5px;">

                                                    <div class="clear"></div>
                                                    <h2>АЛЕКСАНДР ОЛЕЙНИКОВ</h2>
                                                    <span>гинеколог</span>

                                                    <div class="clear"></div>
                                                </div>
                                                <!-- usquare_square_wrapper -->
                                            </div>
                                            <!--div usquare_square -->
                                            <img src="{{ 'assets/images/usquare/u05.jpg'|theme }}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                            <div class="usquare_block_extended" style="background-color: #fff">
                                                <a href="#" class="close">
                                                    <img src="{{ 'assets/images/usquare/close.png'|theme }}" alt="close"/>
                                                </a>
                                                <ul class="social_background"></ul>
                                                <div class="clear"></div>
                                                <!--span class="bold">info:</span-->
                                                <div class="usquare_about">Стаж работы более 30 лет. 
Врач высшей категории. <br><br>Владеет всем объемом гинекологических операций. 
Имеет несколько специализаций (в Израиле, г. Иерусалим; в Киеве; в Китае изучал методы Восточной медицины). <br><br>
<a href="#" title="">Подробнее</a>
                                                </div>
                                            </div>
                                            <!-- usquare_block_extended -->
                                        </div>
                                        <div class="usquare_block">
                                            <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                                <div class="usquare_square_text_wrapper" style="right: 0; text-align: right;">
                                                    <img src="{{ 'assets/images/usquare/arrow_r-dark.png'|theme }}" class="usquare_arrow" alt="arrow" style="float: right; padding: 0 0 5px;">

                                                    <div class="clear"></div>
                                                    <h2>СВЕТЛАНА КАБАНОВА</h2>
                                                    <span>Детский невропатолог</span>

                                                    <div class="clear"></div>
                                                </div>
                                                <!-- usquare_square_wrapper -->
                                            </div>
                                            <!--div usquare_square -->
                                            <img src="{{ 'assets/images/usquare/u06.jpg'|theme }}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                            <div class="usquare_block_extended" style="background-color: #fff">
                                                <a href="#" class="close">
                                                    <img src="{{ 'assets/images/usquare/close.png'|theme }}" alt="close"/>
                                                </a>
                                                <ul class="social_background"></ul>
                                                <div class="clear"></div>
                                                <!--span class="bold">info:</span-->
                                                <div class="usquare_about">
                                        Кандидат медицинский наук.<br>
Закончила КазНМУ имени Асфендиярова по специальности «Детские болезни», ординатуру и аспирантуру на базе  Российской Медицинской Академии Последипломного Образования.<br><br><a href="#" title="">Подробнее</a>

                                                </div>
                                            </div>
                                            <!-- usquare_block_extended -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        <!-- START COMMENTS -->
                        <div id="comments">
                        </div>
                        <!-- END COMMENTS -->
                    </div>
                                <!-- END CONTENT -->


                                <!-- START EXTRA CONTENT -->
                                <!-- END EXTRA CONTENT -->
                </div>
            </div>
        </div>
        <!-- END PRIMARY -->